ConsoleProgram.v12.suo
*.pdb
*.cache

ClassLibrary/bin/Debug/ClassLibrary.dll
ClassLibrary/obj/Debug/ClassLibrary.dll
ClassLibrary/obj/Debug/ClassLibrary.csproj.FileListAbsolute.txt

ClassLibrary/bin/Release/ClassLibrary.dll
ClassLibrary/obj/Release/ClassLibrary.dll
ClassLibrary/obj/Release/ClassLibrary.csproj.FileListAbsolute.txt

ConsoleProgram/bin/Debug/ClassLibrary.dll
ConsoleProgram/bin/Debug/ConsoleProgram.exe
ConsoleProgram/bin/Debug/ConsoleProgram.vshost.exe
ConsoleProgram/obj/Debug/ConsoleProgram.exe
ConsoleProgram/obj/Debug/ConsoleProgram.csproj.FileListAbsolute.txt
ConsoleProgram/bin/Debug/ConsoleProgram.exe.config

ConsoleProgram/bin/Release/ClassLibrary.dll
ConsoleProgram/bin/Release/ConsoleProgram.exe
ConsoleProgram/bin/Release/ConsoleProgram.vshost.exe
ConsoleProgram/obj/Release/ConsoleProgram.exe
ConsoleProgram/obj/Release/ConsoleProgram.csproj.FileListAbsolute.txt
ConsoleProgram/bin/Release/ConsoleProgram.exe.config